.footer__footerWrap.footer__contentFooter {
    background: #FFFFFF;
    width: 100%;
    position: relative;
    padding: 16px 20px;
    border-top: 1px solid #EBECF0;
    margin-top: 16px;
}

.footer__caption_subdued_small {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #8993A4;
    display: block;
    text-align: left;
    vertical-align: middle;
}